{% extends "base.html" %}

{% block title_head %}
    <title>About</title>
{% endblock title_head %}

{% block contiene_header %}
        <div class="header-content container">
            <div class="header-txt">
                <h1><span class="green">Nosotros</span></h1>
                <!-- <h2>¿Quienes somos?</h2> -->
                <p>
                    <strong>Quienes somos?</strong>
                </p>
                <!-- <a href="#" class="btn-1">Informacion</a> -->
            </div>
        </div>
    </header>
{% endblock contiene_header %}

{% block h1_header %}

{% endblock h1_header %}

{% block main %}
    
{% endblock main %}

{% block section %}

<section class="nosotros">
    <div class="nosotros-content container">  

        <div class="nosotros-txt">
            <span><strong>Nuestro equipo</strong></span>
            <h2>Christian Enrique Burns</h2>
            <hr>
            <ul>
                <li>Licenciado en Higiene y seguridad laboral.</li>
                <li>Desarrollador Full-stack.</li>
                <li>En la actualidad: Me encuentro trabajando de manera autónoma como Programador 
                    Frontend con un grupo de programadores full-stacks , realizando páginas web de diferentes 
                    rubros.</li>
                <li>Curso en CoderHouse Python – fecha de finalización noviembre 2023.</li>
                <li>Curso en CoderHouse React.</li>
                <li>Curso en CoderHouse JavaScript.</li>
                <li>Curso en CoderHouse Desarrollo Web (Html y Css).</li>
                <li>Auxiliar administrativo contable. Centro de formación profesional (Ministerio de educación, duración 6 meses).</li>
                <li>Liquidación de sueldos y jornales - Centro de formación profesional (Ministerio de educación, duración 6 meses).</li>
                <li>Miembro de la World Stroke Organization.</li>
                <li>Miembro de la European Stroke Organization.</li>                
            </ul>
            <br>
            <a href="https://www.linkedin.com/in/christianburns03" class="btn-1">Perfil Linkedin</a>
                
        </div>

        <div class="nosotros-img">
            <img src="../static/assets/img/ccc2.jpg" alt="foto">
        </div>            
    </div>        
</section>



{% endblock section %}

