{% extends "base.html" %}

{% block title_head %}
    <title>Cambiar Contraseña</title>
{% endblock title_head %}

{% block h1_header %}
<h1 style="text-align: center; margin-top: 20px;" >
    Cambiar Contraseña
</h1>
{% endblock h1_header %}

{% block main %}

<form action={% url "cambiar_password" %} method="POST">
    {% csrf_token %}
    <table>
    {{form}}
    </table>
    <input type="submit" value="Cambiar Password">
 </form>

    {% comment %} <div style="max-width: 400px; margin: auto; margin-top: 50px; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <form action={% url "cambiar_password" %} method="POST">
            {% csrf_token %}
            <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
                <label for="{{ form.old_password.id_for_label }}" style="font-size: 16px;">Contraseña Actual:</label>
                <input type="password" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}" required style="width: 100%; font-size: 16px;">
            </div>
            <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
                <label for="{{ form.new_password1.id_for_label }}" style="font-size: 16px;">Nueva Contraseña:</label>
                <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" required style="width: 100%; font-size: 16px;">
            </div>
            <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
                <label for="{{ form.new_password2.id_for_label }}" style="font-size: 16px;">Confirmar Nueva Contraseña:</label>
                <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" required style="width: 100%; font-size: 16px;">
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%; padding: 10px; border-radius: 5px; cursor: pointer; font-size: 16px;">Cambiar Contraseña</button>
        </form>
    </div> {% endcomment %}
{% endblock main %}