{% extends "base.html" %}

{% block title_head %}
    <title>Login</title>
{% endblock title_head %}

{% block h1_header %}
<h1 style="text-align: center; margin-top: 20px;" >
    Iniciar Sesion
</h1>
{% endblock h1_header %}

{% block main %}

<form class="form.login" action={% url "login" %} method="POST">
    {% csrf_token %}
    <table>
    {{form}}
    </table>
    <input type="submit" value="Iniciar Sesion">
 </form>
    {% comment %} <div style="max-width: 400px; margin: auto; margin-top: 50px; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <form action={% url "login" %} method="POST">
            {% csrf_token %}
            <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
                <label for="{{ formulario_de_login.username.id_for_label }}" style="font-size: 16px;">Usuario:</label>
                <input type="text" name="{{ formulario_de_login.username.name }}" id="{{ formulario_de_login.username.id_for_label }}" required style="width: 100%; font-size: 16px;">
            </div>
            <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
                <label for="{{ formulario_de_login.password.id_for_label }}" style="font-size: 16px;">Contraseña:</label>
                <input type="password" name="{{ formulario_de_login.password.name }}" id="{{ formulario_de_login.password.id_for_label }}" required style="width: 100%; font-size: 16px;">
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%; padding: 10px; border-radius: 5px; cursor: pointer; font-size: 16px;">Iniciar Sesión</button>
        </form>
    </div> {% endcomment %}
{% endblock main %}