{% extends "base.html" %}

{% block tittle_head %} 
<title>Perfil</title>
{% endblock tittle_head %}

{% block h1_header %}
{% if request.user.datosextra.avatar %}
<div><img src="{{request.user.datosextra.avatar.url}}" alt="Foto de Perfil" height='200px'></div>
{% endif %}
 <h1>Bienvenido {{request.user.username}}</h1>

 <a class="navbar-brand" href="{% url "editar_perfil" %}">Editar Perfil</a>
{% endblock h1_header %}

{% block main %}

<ul>
    <li>
        {{request.user.first_name}}
    </li>    
    <li>
        {{request.user.last_name}}
    </li>    
    <li>
        {{biografia | safe}}
    </li>
</ul>

{% comment %} <form action={% url "login" %} method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
        <p style="color:white;display:inline-block;margin-right:1rem">
          {{request.user.first_name}}
        </p>
        {% if request.user.datosextra.avatar %}
          <img src="{{request.user.datosextra.avatar.url}}" alt="avatar" height="40px">
        {% else %}
          <p>No hay avatar disponible.</p>
        {% endif %}
        <p>
          {{request.user.datosextra.biografia}}
        </p>
      </table>


</form> {% endcomment %}
{% endblock main %}


{% comment %} {% block h1_header %}
Tu perfil HardGamer
{% endblock h1_header %} {% endcomment %}