{% extends "base.html" %}

{% block title_head %}
    <title>Procesadores</title>
{% endblock title_head %}

{% block h1_header %}
<h1 style="text-align: center; margin-top: 20px;" >
    Procesadores
</h1>
{% endblock h1_header %}

{% block contiene_header %}
        <div class="header-content container">
            <div class="header-txt">
                <h1><span class="green">Procesadores</span></h1>
                <!-- <h2>¿Quienes somos?</h2> -->
                <p>
                    <strong>De gamers para gamers.</strong>
                </p>
                <!-- <a href="#" class="btn-1">Informacion</a> -->
            </div>
        </div>
    </header>
{% endblock contiene_header %}

{% block main %}
    <div style="text-align: center; margin-top: 20px;">
        <p>
            <a href={% url "crear_procesador" %} class="btn-1">Crear Procesador</a>
        </p>

        <form action={% url "procesadores" %} method="get" style="margin-bottom: 20px;">
            <input type="text" name="marca" placeholder="Buscar Procesador..." class="form-control" style="margin-top: 10px;">
            <input type="submit" value="Buscar" class="btn btn-secondary" style="margin-top: 10px;">
        </form>

        {% if listado_de_procesadores %}
            <ul style="list-style: none; padding: 0;">
                {% for procesador in listado_de_procesadores %}
                    <li style="margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ccc;">
                        <strong>{{ procesador }}</strong><br>
                        <a href={% url "actualizar_procesador" procesador.id %} class="btn-1">Actualizar</a> 
                        <a href={% url "eliminar_procesador" procesador.id %} class="btn-1">Eliminar</a>
                        <a href={% url "detalle_procesador" procesador.id %} class="btn-1">Detalle</a> 
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron Procesadores.</p>
        {% endif %}
    </div>
{% endblock main %}